@import url('https://fonts.googleapis.com/css?family=Erica+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.app {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
.navbar {
    height: 66px;
    width: 100%;
    border-bottom: 0.1rem solid #DCDEDD;
    display: flex;
}
.leftNavbarContainer {
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.rightNavbarContainer {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}
.centerNavbarContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'Erica One';
    letter-spacing: 1px;
    color: #05ce78;
}
.navItem {
    width: fit-content;
    padding: 0px 15px;
    letter-spacing: 0.5px;
    color: #282828;
    font-size: 15px;
    cursor: pointer;
}
.navItem:hover {
    color: #037362;
    letter-spacing: 0.5px;
    font: 'Open Sans';
}
.category {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid #DCDEDD;
}
.categoryItem {
    color: #656969;
    font-size: 17px;
    line-height: 2.4rem;
    margin: 10px;
    position: relative;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.categoryItem:hover {
    color: #034752;
}
.categoryItem::after {
    content: '';
    bottom: 5px;
    left: 0px;
    width: 100%;
    height: 0.1rem;
    position: absolute;
    text-decoration: underline;
    background-color: #034752;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
.categoryItem:hover::after,
.categoryItem:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.siteStats {
    background: url(./assets/bg1.png) left no-repeat,
    url(./assets/bg2.png) right no-repeat;
    height: 353px;
}
.tagLine {
    padding: 30px;
    height: 84px;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.smallHeading {
    color: #656969;
    margin-bottom: 12px;
    height: 24px;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats {
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 17%);
    width: 80%;
    margin: 0px 10% ;
    height: 118px;
    background-color: #FFFFFF;
    display: flex;
}
.statItem {
    border: 0.1rem solid #DCDEDD;
    border-right-width: 0px;  
    height: 116px;
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statItem:last-child {
    border-right-width: 0.1rem;
}
.statItemValue {
    color: #037362;
    font-size: 30px;
}
.statItemTag {
    color: #656969;
    font-size: 16px;
    margin-top: 4px;
}
.suggestions {
    width: 80%;
    padding: 0px 10%;
    display: flex;
    border-bottom: 0.1rem solid #DCDEDD;
}
.suggLeftContainer {
    height: 500px;
    width: 50%;
    border-right: 0.1rem solid #DCDEDD;
    margin: -10px 0px 24px 0px;
    display: flex;
    justify-content: flex-end;
}
.featuredCard {
    width: 100%;
    padding: 24px 7% 0px 0px;
}
.featuredCard:hover .featuredProjectHeading {
    color: #037362;
    text-decoration: underline;
}
.featuredHeading {
    color: #656969;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 900;
    margin: 0px 0px 10px 0px;
}
.featuredCardProjectImg {
    width: 100%;
    height: 50%;
    background-color: #DCDEDD;
}
.featuredProjectHeading {
    color: #282828;
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.featuredProjectHeading:hover {
    color: #037362;
    text-decoration: underline;
}
.featuredProjectDescription {
    font-size: 18px;
    color: #282828;
    letter-spacing: 0.5px;    
    max-height: 42px;
    position: relative;
    overflow-y: hidden;
}
.featuredProjectDescription::after {
    content: '...';
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.featuredProjectAuthor {
    margin: 15px 0px;
    color: #656969;
    font-family: 'Open Sans';
    font-size: 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.suggRightContainer {
    height: 500px;
    width: 50%;
    margin: -10px 0px 24px 0px;
    display: flex;
    justify-content: flex-end;
}
.recommendationList {
    width: 100%;
    padding: 24px 0px 0px 7%;
}
.recommendationHeading {
    color: #656969;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 900;
    margin: 0px 0px 0px 7%;
}
.recommendationCard {
    height: 25%;
    margin: 0px 0px 0px 7%;
    display: flex;
    border-bottom: 0.1rem solid #DCDEDD;
    padding: 10px 0px;
}
.rcmdCardImg {
    width: 40%;
    min-width: 120px;
    background-color: #DCDEDD;
    margin-right: 10px;
}
.rcmdCardDetails {
    padding: 0px 10px;
    width: 60%;
}
.rcmdCardHeading {
    color: #282828;
    font-family: 'Open Sans';
    font-size: 15px;
    letter-spacing: 0.1px;
    max-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 500;
}
.rcmdCardHeading:hover {
    color: #037362;
    text-decoration: underline;
}
.rcmdCardFundedPercentage {
    color: #037362;
    font-family: 'Open Sans';
    font-size: 14px;
    letter-spacing: 0.1px;
    max-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-weight: 600;
}
.rcmdCardAuthor {
    color: #656969;
    font-family: 'Open Sans';
    font-size: 13px;
    letter-spacing: 0.1px;
    max-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-weight: 600;
}
.recentUploads {
    height: 563px;
    border-bottom: 0.1rem solid #DCDEDD;
    width: 80%;
    padding: 0px 10%;
}

/* Footer CSS class */

.footer {
    height: 155px;
    background: url(./assets/bg3.png) no-repeat 100% 100%;
    background-size: 321px 220px;
}

.footerContainer {
    position: relative;
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
}

.twitter-icon {
    flex: 1;
    cursor: pointer;
}

.github-icon {
    flex: 1;
    cursor: pointer;
}

.insta-icon {
    cursor: pointer;
}

.footerBottom{
    position: relative;
}

.trademark {
    position: relative;
    margin-left: 45%;
    margin-top: 50px;
    font-size: large;
    font-weight: bolder;
}

/* start a project CSS class */

